---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import OfertaEspecial from "../components/OfertaEspecial.astro";
import Programas from "../components/Programas.astro";
import Testimonios from "../components/Testimonios.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Navbar />
    <Hero />
    <OfertaEspecial />
    <Programas />
    <Testimonios />
    <Contacto />
    <Footer />
  </main>
</Layout>
