---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Instituto educativo de rápida salida laboral y profesional. Con más de 7 años de experiencia."
    />
    <meta
      name="keywords"
      content="Educación, Online, Instituto, CreSer, Cursos, Programas"
    />
    <meta
      property="og:title"
      content="Instituto CreSer Conecta | Tu Mejor Opción en Educacion Online"
    />
    <meta name="authors" content="Manuel Elizalde" />
    <title>
      Instituto CreSer Conecta | Tu Mejor Opción en Educacion Online
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
